<div class="row">
  <div class="span8">
    <%= render partial: 'votes/voter', locals: { topic: @topic, post: @post } %>
    
    <h1><%= markdown @post.title%></h1>
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @post.user.name %> || <%= pluralize(@post.up_votes, 'up vote') %> || <%= pluralize(@post.down_votes, 'down vote') %>
    </small>   
    
    <p><%= markdown @post.body %></p>
    
    <hr>
    
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-info btn-mini' %>
    <% end %>

    <% if policy(@post).destroy? %>
      <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-danger btn-mini', confirm: 'Are you sure you want to delete this post?' %>
    <% end %>

    <% if policy(@post).show? %>
      <%= render partial: 'favorites/favorite', locals: { topic: @topic, post: @post } %>
    <% end %>
  
    <hr>

    <h2><%= @comments.count %> Comments</h2>
    <%= render partial: 'comments/comment', colleciton: @comments,  locals: { topic: @topic, post: @post } %>
    
    <hr>

    <h4>New Comment</h4>
    <%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @comment } %>

    </div>
  

</div>